<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.framework.codegen.dao.mapper.BrandSeriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.funny.framework.codegen.dao.entity.BrandSeriesDO">
        <id column="id" property="id" />
        <result column="series_id" property="seriesId" />
        <result column="series_name" property="seriesName" />
        <result column="series_logo" property="seriesLogo" />
        <result column="series_first_letter" property="seriesFirstLetter" />
        <result column="brand_id" property="brandId" />
        <result column="brand_name" property="brandName" />
        <result column="fct_first_letter" property="fctFirstLetter" />
        <result column="fct_id" property="fctId" />
        <result column="fct_name" property="fctName" />
        <result column="level_id" property="levelId" />
        <result column="level_name" property="levelName" />
        <result column="is_del" property="isDel" />
        <result column="create_stime" property="createStime" />
        <result column="modified_stime" property="modifiedStime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, series_id, series_name, series_logo, series_first_letter, brand_id, brand_name, fct_first_letter, fct_id, fct_name, level_id, level_name, is_del, create_stime, modified_stime
    </sql>

</mapper>
