<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.framework.codegen.dao.mapper.CodeGenRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.funny.framework.codegen.dao.entity.CodeGenRecordDO">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="artifact_id" property="artifactId" />
        <result column="version" property="version" />
        <result column="package_name" property="packageName" />
        <result column="description" property="description" />
        <result column="components" property="components" />
        <result column="app_type" property="appType" />
        <result column="generate_time" property="generateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id, artifact_id, version, package_name, description, components, app_type, generate_time, is_del
    </sql>

</mapper>